<form method="POST" action="/recipes">
 
  <input name= "name"  id="name">
  <input name= "ingredients" id="ingredients">
  <input name= "cook_time" id="cook_time">
  <input type="submit" id="submit">
</form>