<h1>New recipe</h1>
<form action="/recipes" method="post">
    <p><label for="name">Name:</label>
    <input type="text" name="name" id="name"></p>

    <p><label for="ing">Ingredients:</label>
    <input type="text" name="ingredients" id="ing"></p>

    <p><label for="c_time">Cook time:</label>
    <input type="text" name="cook_time" id="c_time"> minutes</p>

    <input type="submit" value="Submit">
</form>